NEXT_PUBLIC_APP_URL=http://localhost:3000

# DATABASE
DATABASE_URL=

# AUTH 
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# DISCORD
DISCORD_BOT_TOKEN=

# PAYMENTS
STRIPE_SECRET_KEY=

# OPENAI
OPENAI_API_KEY=

# SENTRY
NEXT_PUBLIC_SENTRY_DSN=

# SNYK
SNYK_TOKEN=

# PRODUCTION
PRODUCTION_URL=

# UPSTASH
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
